@tailwind base;
@tailwind components;
@tailwind utilities;

html {
--scroll-behavior: smooth!important;
scroll-behavior: smooth!important;
}

@keyframes titleFlyInFromBottom {
  0% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes titleFadeIn {
  0% {
    opacity: 0 
  }
  100%{
    opacity: 1
  }
}

.title-fly-in {
  animation: titleFlyInFromBottom 2.5s ease forwards, titleFadeIn 2.5s ease-in forwards 
}


@keyframes linkFadeInFromBottom { 
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  100% { 
    opacity: 1; 
    transform: translateY(0);
  }
}

.link-fade-in {
  opacity: 0;
  animation: linkFadeInFromBottom 1.5s ease forwards;
  animation-delay: 1.5s;
}